@mixin keyframes($name) {
  @-webkit-keyframes #{$name} { @content; }
  @-moz-keyframes #{$name} { @content; }
  @-ms-keyframes #{$name} { @content; }
  @keyframes #{$name} { @content; } 
}

@mixin animation($string) {
  -webkit-animation: $string;
  -moz-animation:    $string;
  -o-animation:      $string;
  animation:         $string;
}

@mixin transform($string){
  -webkit-transform: $string;
  -moz-transform:    $string;
  -ms-transform:     $string;
  -o-transform:      $string;
}

@include keyframes(shake) {
  $w:5px;

  0%   { top:-$w; left:0; }
  25%  { top:0; left:$w; }
  50%  { top:$w; left:0; }
  75%  { top:0; left:-$w; }
  100% { top:-$w; left:0; }
}

@include keyframes(active) {
  $w:5px;

  0%   { @include transform(rotate(-5deg)); }
  50%  { @include transform(rotate(5deg)); }
  100% { @include transform(rotate(-5deg)); }
}

@mixin element {
  $w: 90px;
  width:$w;height:$w;line-height:$w - 10px;
  border-radius:3px;
  margin-top:20px;margin-left:20px;
  float:left;
  
  color:#444;
  font-weight:bold;
  text-align:center;
  font-size:20px;
  cursor: pointer;
  box-sizing:border-box;
  border:solid 5px transparent;

  transition: all .3s ease;
  position:relative;

  background-size: cover;
  background-repeat: no-repeat;

  &.active {
    border-color:rgba(black, 0.5); 
    @include animation(active .4s infinite);
  }

  &.blank {
    background-color:#ffcc3f;
  }

  &.shake {
    @include animation(shake .1s infinite);
  }

  .ic {
    background-size: cover;
    background-repeat: no-repeat;
    height:60px;width:60px;
    position:absolute;
    top:0;left:10px;
  }

  .name {
    font-size:16px;
    pointer-events:none;
    position:relative;
    top:30px;
  }
}


body {
  background-color: #333;
  font-family: "Helvetica Neue","Helvetica","Arial","sans-serif","微软雅黑";

   -moz-user-select: none; /*火狐*/
   -webkit-user-select: none;  /*webkit浏览器*/
   -ms-user-select: none;   /*IE10*/
   -khtml-user-select: none; /*早期浏览器*/
   user-select: none;
}

$area-width:600px; // 左右显示区域的宽度，低分辨率显示器的兼容性随后再考虑

.playground {
  background: white;
  width: $area-width * 2 + 10px;
  height: $area-width;
  margin:100px auto;
  position: relative;

  .merge {
    position:absolute;
    top:0;left:0;
    width:0;height:0;
    .board {
      width: $area-width + 40px;
      height: $area-width + 40px;
      background-color: #fff;
      position:absolute;
      top:0 - 20px;left:305px - 20px;
      box-sizing:border-box;
      pointer-events:none;
      box-shadow:0 0 5px black;
      opacity:0;
      transition:all .2s ease;
    }
    .element {
      @include element;
      margin:0;
      position:absolute;
      pointer-events:none;

      transition: left .5s ease-in, top .5s ease-out;

      &.merged {
        left:560px !important;
        top:255px !important;
      }
    }

    &.show {
      .board {
        opacity: 1;
      }
    }
  }

  .area {
    width: $area-width;
    height: $area-width;
    position: relative;
    
    transition: all .3s ease;
    &.hide {
      opacity:0;
      pointer-events:none;
    }


    &.left {float:left;}
    &.right {float:right;}
    
    &.left .groups .group.open {
      top:0 !important;
      left:0 !important;
      width:50% !important;
      height:50% !important;
    }

    &.right .groups .group.open {
      top:0 !important;
      left:50% !important;
      width:50% !important;
      height:50% !important;
    }

    &.left .elements {
      top:0;width:100%;left:100%;height:200%;
      box-sizing:border-box;
      margin-top:35px - 20px;
      margin-left:30px;
    }

    &.right .elements {
      top:0;width:100%;left:-100%;height:200%;
      box-sizing:border-box;
      margin-top:35px - 20px;
      margin-left:30px;
    }

    .groups {
      position:absolute;
      top:0;left:0;right:0;bottom:0;
      background-color:#f7f7f7;

      .group {
        position:absolute;
        transition: all .3s ease;

        &.hide {
          opacity:0;
          pointer-events:none;
        }

        .icon {
          position:absolute;

          font-size:20px;
          color:#333;
          font-weight:bold;
          text-align:center;
          border-radius:1000px;
          cursor: pointer;
          background-size: cover;
          background-repeat: no-repeat;

          // transition: all .3s ease;

          &.blank {
            background-color: lighten(#44B2F5, 0%);
            color: white;
          }
        }

        &.open .icon {
          &.blank {
            background-color: #4CC85E;
          }
        }

        .elements {
          position:absolute;
          display:none;

          .element {
            @include element;
          }
        }
      }

    }
  }
}